/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family:'Courier New'; font-variant:  monospace; text-transform: none; font-weight: 100; margin-bottom: 0; }
