#headline{
    font-family:'Courier New';
	color:#4E443C;
	font-variant:  monospace; text-transform: none; font-weight: 100; margin-bottom: 0;
    text-align: center;
}

.grid2x1 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grid2x1 > div {
    display: flex; 
    flex-basis: 80%;  
    justify-content: center;
    flex-direction: column;
}

#myProgress {
    width: 100%;
    background-color: grey;
}
  
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

.input{
    margin-right:1rem;
}

#progressBarText{
    color:white;
}

.formfield{
    width:50%
}